.color-1 { background-color: rgb(207, 14, 14); }
.color-2 { background-color: rgb(181, 9, 9); }
.color-3 { background-color: rgb(167, 42, 42); }
.color-4 { background-color: rgb(152, 58, 58); }
.color-5 { background-color: rgb(139, 68, 68); }
